body,html{
   
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    height: 100%;
   overflow: hidden;
    background: #74ebd5;  
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  
    background: linear-gradient(to bottom right, #74ebd5, #ACB6E5); 
    background-attachment: fixed;
    
    
}

  
    
  
 
    


#container{
   position: absolute;
    margin: auto;
    width: 80%;
    max-width: 800px;
   
    height: 100%;
   
   
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#landingText{
    

   
    
}
#buttons{
   
    position: absolute;
   
    height: 10vh;
    top: 70vh;
    left: 50%;
     
    transform: translateX(-50%);
    
}
button{
    
    padding: 4px 24px;
    background: none;
    border: solid 2px white;
    margin: 100px 20px 150px; 
    color: white;
   /* font-size: 24px; */
    font-size: 2vw;
    
}
#buttonList{
    top: calc(100vh - 225px);
    left: 20px;
    height: 175px;
    width: 175px;
   
    position: absolute;
    
}
ol{
    list-style-type: none;
    
   
}
#buttonList li{
    opacity: .6;
    margin-bottom: 5px;
    position: static;
    font-size: 18px;
    font-weight: 300;
    transition: margin-left 1s;
    cursor: pointer;
    
}
li.activeButton{
   margin-left: 20px !important;
   opacity: 1 !important;
    
}
li.activeButton:hover{
    margin-left: 20px;
    opacity: 1;
}
#buttonList li:hover{
    margin-left: 10px;
    opacity: 1 !important;
}


h1{
   
    
    margin: 30vh 0px 30px;
    text-align: center;
    font-weight: normal;
   
    z-index: 1;
    width: 100%;
    
   
   
    
    font-size: 5vw;
    
}

#landingText h2{
    font-weight: normal;
    text-align: center;
    font-size: 2vw;
    
}



#skills{
    
   display: none;
    text-align: center;
    width: 80%;
    max-width: 1000px;
    margin: 20vh auto 0px;
    
    
    
}
#skills p{
    
    font-size: 18px;
    
}
#icons{
    display: flex;
   
    width: 100%;
    
}
.icon{
    
   
    font-size: 100px;
   margin: 0px 0px;
    transition: font-size .5s;
    cursor: pointer;
}

.skill_container{
    width: 150px;
  
  
    margin: 0px auto;
    text-align: center;
}

#work{
    display: none;
    text-align: center;
    width: 80%;
    margin: 20vh auto 0px;
    font-size: 100px;
    
}
#exit {
    visibility: hidden;
  position: absolute;
  left: 70px;
  top: 7vh;
  width: 32px;
  height: 32px;
  transition: transform .25s;
    cursor: pointer;
}
#exit:hover {
  opacity: 1;
}
#exit:before, #exit:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: white;
}
#exit:before {
  transform: rotate(45deg);
}
#exit:after {
  transform: rotate(-45deg);
}
#exit:hover{
    transform: rotateZ(-90deg);
}


h3{
    
    font-size: 3vw;
    margin-bottom: 60px;
}
ul{
    
    list-style: none;
   
    
   
     
}
 ul li{
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    letter-spacing: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: left 1s, top 1s, font-size .5s;
    
}
ul li:hover{
    font-size: 33px;
}
 li:nth-child(2){
   top: 320px;
}

.active_project{
    top: 15%;
    left: 350px;
    
}
.active_project:nth-child(2){
    top: 15%;
    left:350px;
}
#project_bio{
    visibility: hidden;
    position: absolute;
    top: 30vh;
    left: 175px;
    width: 500px;
    height: 40vh;
    
}
#project_bio p{
    text-align: left;
    font-size: 20px;
    margin-bottom: 90px;
}
#project_bio i{
    white-space: nowrap;
}

#project_feature{
    top: 50%;
    transform:translateY(-50%);
    width:500px;
    height:400px;
    background: white;
    position: absolute;
    right: -510px;
    transition: all 1s ease;
  
    
}
#project_feature.active_feature{
  
    right: -20px;
    
}

#project_feature img{
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: -6px 8px 6px rgba(0,0,0,.3);
}
#about{
    display: none;
}
#about p{
    position: absolute;
    top: 40%;
    left: 50%;
   
    transform: translateY(-50%) translateX(-50%);
    font-size: 22px;
    width: 50vw;
  
    line-height: 35px;
}
a{
    text-decoration: none;
    color: white;
}
#contact{
    width: 60%;
    height: 22px;
    
    margin: calc(100vh - 250px) 40vw;
    display: flex;
     text-align: center;
    
}
#contact a{
   z-index: 1;
    font-size: 18px;
    float: left;
    margin: 0px 20px;
    font-weight: lighter;
    padding-bottom: 0px;
    border-bottom: 1px dotted white;
    transition: border .5s, color .5s;
   
}
#contact a:hover:nth-child(1){
   border-bottom: 1px dotted rgb(116,235,213);
    color: rgb(116,235,213);
}
#contact a:hover:nth-child(2){
   border-bottom: 1px dotted orange;
    color: orange;
}
#contact a:hover:nth-child(3){
   border-bottom: 1px dotted rgb(252,92,125);
    color: rgb(252,92,125);
}
canvas{
    z-index: 0;
    position: fixed;
    opacity: .5;   
}
