body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
canvas {
	position: absolute;
	background-color: transparent;
	z-index: -1;
	max-width: 100vw;
}

.landing {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 1vw 2.5vw white;
}
.title {
	text-align: center;
}
.landing h1 {
	padding-left: .6em;
	font-size: 8vw;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	letter-spacing: .6em;
	position: relative;
	clip-path: inset(0 100% 0 0);
	-webkit-clip-path: inset(0 100% 0 0);
	animation: wipeText 1s .5s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
}
.landing h1:after {
	content: '';
	transform: scaleX(0);
	width: 100%;
	height:100%;
	background-color: black;
	position: absolute;
	left: 0;
	animation: wipe 1s .5s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
	transform-origin: 0 50%;
}
.landing h2 {
	font-size: 3vw;
	color: #DB707E;
	font-weight: 300;
	position: relative;
	clip-path: inset(0 100% 0 0);
	-webkit-clip-path: inset(0 100% 0 0);
	animation: wipeText 1s 1.25s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
	
}
.landing h2:after {
	
	content: '';
	transform: scaleX(0);
	width: 105%;
	height:100%;
	background-color: #DB707E;
	position: absolute;
	left: -5%;
	top: 0;
	right: 0;
	bottom: 0;
	animation: wipe 1s 1.25s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
	transform-origin: 0 50%;
}
.about {
	width: 55%;
	margin: 40px auto 100px;
	line-height: 2;
}
.about p {
	font-size: 1.5vw; /* 18px */
	margin-bottom: 10px;
}

.about a,
.contact a,
.work h4 a {
	color: #DB707E;
	text-decoration: none;
	position: relative;
}
.about a:after,
.contact a:after,
.work h4 a:after {
	content: '';
	position: absolute;
	width: 0;
	background-color: #DB707E;
	height: 4px;
	bottom: -4px;
	left: 0;
	transition: .2s width;
}
.about a:hover:after,
.contact a:hover:after,
.work h4 a:hover:after {
	width:100%;
}

.work h3 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 100px;

}
.description {
	margin-left: 10%;
	width: 25%;
	float: left;
}
.work h4 {
	color: #DB707E;
	text-align: left;
	font-size: 32px;
	margin-bottom: 40px;
	white-space: nowrap;

}
.work p {
	font-size: 18px;
	line-height: 2;
	margin-bottom: 20px;
}
.project {
	margin-bottom: 50px;
	clear: both;
	overflow: auto;
	padding-bottom: 50px;
}
.container {
	margin-top: 40px;
	margin-right: 10%;
	width: 40%;
	float: right;
	
}
.project img {
	max-width: 100%;
	box-shadow: 6px 10px 0px 0px #E18A95, 12px 20px 0px 0px #EBB1B8;
	transition: transform .25s, box-shadow .25s;
}

.project img:hover {
	transform: translateY(-10px);
	box-shadow: 6px 20px 0px 0px #E18A95, 12px 40px 0px 0px #EBB1B8;
}
.contact {
	width: 40%;
	margin-left: 20%;
	margin-bottom: 15vh;
}
.contact h2 {
	font-size: 42px;
	/*margin-left: 15%;*/
	margin-bottom: 25px;
}
.contact p {
	line-height: 2;
	font-size: 18px;
}
.footer {
	text-align: center;
	margin-bottom: 15px;
}
.footer p {
	font-size: 10px;
}
@media screen and (max-width: 768px) {
	.landing {
		/*flex-wrap: wrap;*/
	}
	.landing h1,
	.landing h2 {
		width: 100%;
		text-align: center;
	}
	.landing h1 {
		font-size: 12vw;
	}
	.landing h2 {
		font-size: 6vw;
	}
	.about {
		width: 80%;
		margin: 40px auto 20vw;
	}
	.about p {
		font-size: 18px;
	}
	.work h3 {
		margin-bottom: 10vw;
	}
	.work p {
		font-size: 18px;
		margin-bottom: 10vw;
	}
	.project {
		margin-bottom: 10vw;
		padding: 5vw;
	}
	.description {
		width: 80%;
		float: none;
	}
	.container {
		float: none;
		margin: 0 auto;
		width: 75%;
	}
	.contact {
		width: 80%;
		margin: 20vw auto;
	}
	.contact p {
		font-size: 4vw;
	}

}
@keyframes wipe {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}
	51% {
		transform-origin: 100% 50%;
	}
	60% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
		transform-origin: 100% 50%;
	}

}

@keyframes wipeText {
	from {
		clip-path: inset(0 100% 0 0);
		-webkit-clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
	}
}